---
import Time from "@/icons/Time.astro";
import { type Song } from "@/lib/data";
import { SongPlayButton } from "./SongPlayButton.tsx";

interface Props {
  songs: Song[];
}
const { songs } = Astro.props;
---

<table class="table-auto text-left min-w-full divide-y divide-gray-500/20">
  <thead>
    <tr class="text-zinc-300 text-sm">
      <th class="px-4 py-2 font-light">#</th>
      <th class="px-4 py-2 font-light"></th>
      <th class="px-4 py-2 font-light">Título</th>
      <th class="px-4 py-2 font-light">Álbum</th>
      <th class="px-0 py-2 font-light">
        <div class="flex justify-center">
          <Time />
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="h-[10px]"></tr>
    {
      songs.map((song, index) => (
        <tr class="text-gray-300 text-sm font-light hover:bg-white/10 overflow-hidden transition duration-300">
          <td class="px-4 py-2 rounded-tl-lg rounded-bl-lg w-5">{index + 1}</td>
          <td class="px-0 py-2 w-1">
            <SongPlayButton
              id={song.id}
              albumId={song.albumId}
              client:load
              size="large"
            />
          </td>
          <td class="px-4 py-2 flex flex-col lg:flex-row gap-3 ">
            <picture>
              <img
                src={song.image}
                alt={song.title}
                class="w-11 h-11 rounded-md"
              />
            </picture>
            <div class="flex flex-col">
              <h3 class="text-white text-sm lg:text-base font-normal">
                {song.title}
              </h3>
              <span class="text-xs lg:text-sm">{song.artists?.join(", ")}</span>
            </div>
          </td>
          <td class="px-4 py-2 text-xs lg:text-sm">{song.album}</td>
          <td class="px-0 text-center py-2 rounded-tr-lg rounded-br-lg">
            {song.duration}
          </td>
        </tr>
      ))
    }
  </tbody>
</table>
